div {
    background-color: 	#B0E0E6;
    width: 100px;
    height: 100px;
    position: absolute;
}

body {
    margin: 0
}

.red {
    background-color: red;
    left: 200px;
    top: 200px;
}

.blue {
    background-color: blue;
    left: 100px;
    top: 100px;
}

.yellow {
    background-color: yellow;
}
